 *{
                box-sizing: border-box;
            }
            @import url('https://fonts.googleapis.com/css?family=Gruppo|Overlock+SC');
            section {
            color: black;
            }
            
            section {
                padding: 15px;
            }
            
            #middlerow {
                background-color: whitesmoke;
            }
            
            h1,h2 {
                color: #881F00;
                font-family: 'Overlock SC', cursive;
                line-height: 2;
                margin-bottom: 0;
            }
            
            #toprow, #middlerow, #two, #four {
                display: flex;
                flex-flow: row wrap;
            }
            
            .leftcol {
                width: 48%;
                flex: 1 0 15 em;
                margin: .5em;
                flex: 2;
                align-items:center;
            }
            
            .rightcol {
                width: 48%;
                flex: 1 0 15em;
                align-items:center;
                flex: 2;
            }

            #logo {
                background-color:white;
                position:relative;
                width: 110px;
                border: 2px solid gray;
                border-color: grey;
            }
            
            nav {
                color: white;
                background: #023457;
                margin-top:-100px;
                padding-left:100px;
            }

            nav > ul {
                list-style-type:none;
                display: flex;
                flex-flow: row wrap;
                line-height: 4em;
                position:relative;
            }
            
            #banner {
                padding:10px;
            }
            
            nav li {
                flex: 1 1 8em;
            }

            nav a {
                padding:.85em;
            }

            nav a:link, nav a:visited {
                color:white;
                text-decoration:none;
            }

            nav a:hover {
                color:white;
                background-color: #B18700;
            }

            a {
                color:#8A97A0;
            text-decoration:none;
            }
            
            img {
                max-width:100%;
            }
            
            .content {
                width: 80%;
                max-width: 960px;
                margin: 0 auto;
            }
            
            #bottomrow {
                width: 100%;
                margin: 0 auto;
                text-align:center;
            }
            
            body {
                font-family: Arial, Helvetica, sans-serif;
            }
            
            p {
                line-height: 1;
            }
            
            .fullwidth {
                width:100%;
            }
            
            .footer {
                float: left;
                height:55px; 
            }
    
            .footer-img img {
                float:right;
                height:50px;
                margin-left: 10px;
                padding: 2px;
            }

            .Utah {
            flex-flow: row;
            width: 33%;
            float: left;
            padding: 10px;
            }

            .Idaho {
            flex-flow: row;
            width: 33%;
            float: left;
            padding: 10px;
            }

            .Arizona {
            flex-flow: row;
            width: 33%;
            float: left;
            padding: 10px;
            }
        
            